/* RESETS-->set styles back to what we like, build offs for pasting into other webpages, essentially a boilerplate*/
body {
  margin: 0;
}
ul,
ol,
dl {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*BASIC STYLES-->default aesthetic preferences, put non websafe fonts in quotes*/
html {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

a {
  text-decoration: none;
}

body {
  padding: 2em;
}

.subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
/*COMPONENT STYLES*/
.container {
  margin-bottom: 1em;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 0.75em;
}

.container__header {
  background-color: #eee;
  padding: 0.25em;
  display: flex;
  justify-content: space-between;
}

.container__title {
  font-weight: bold;
}

.container__contextual-info {
  font-size: 0.8em;
}

.container__content {
  margin: 0.75em;
}

.container__content--tight {
  padding: 0;
}

.colour-red {
  color: red;
}

.flex {
  display: flex;
}
/*UTILITY STYLES*/
